@import "tailwindcss";

:root {
  --radius: 1rem;
}

html, body { 
  @apply bg-gray-50 text-gray-800; 
}

a { @apply text-primary font-medium; }
a:hover { @apply underline; }

button { @apply rounded-xl; }

@theme {
  --color-primary: #14b8a6;
  --color-secondary: #a855f7;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}
